<div nz-row>
  <div nz-col nzSpan="8">
    <div #echartsRoom class="realtime-echarts"></div>
  </div>
  <div nz-col nzSpan="8">
    <div #echartsLeave class="realtime-echarts"></div>
  </div>
  <div nz-col nzSpan="8">
    <div #echartsAttendance class="realtime-echarts"></div>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="12">

  </div>
  <div nz-col nzSpan="12">
    <div #apartment style="width: 400px;height: 400px"></div>
  </div>
</div>
<div #counselor style="width: 1000px;height: 400px"></div>
