<nz-layout style="height: 100%">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo-box">
      <img [src]="logoImageSrc" alt="logo" [ngClass]="isCollapsed?'logo-small':'logo'">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter routerLink="/statistics">
        <i nz-icon nzType="pie-chart"></i>
        <span>首页</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/student">
        <i nz-icon nzType="profile"></i>
        <span>学生管理</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/new_student">
        <i nz-icon nzType="plus"></i>
        <span>新增学生</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/apartment">
        <i nz-icon nzType="align-left"></i>
        <span>公寓管理</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/leave">
        <i nz-icon nzType="search"></i>
        <span>请假查询</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/leave_check">
        <i nz-icon nzType="tags"></i>
        <span>请假审批</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/room">
        <i nz-icon nzType="home"></i>
        <span>归寝管理</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="onCollapsedChange()"></i>
      <a class="user-panel" nz-dropdown [nzDropdownMenu]="menu">
        {{loginName}}
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="isChangePasswordModalVisible=true">修改密码</li>
          <li nz-menu-item (click)="logout()">注销登录</li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-modal nzTitle="修改密码"
          [(nzVisible)]="isChangePasswordModalVisible"
          (nzOnCancel)="isChangePasswordModalVisible=false"
          [nzOkLoading]="isChangePasswordModalLoading"
          (nzOnOk)="changePwd()">
  <nz-input-group [nzSuffix]="suffixTemplate">
    <!--suppress HtmlFormInputWithoutLabel -->
    <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="输入新密码" [(ngModel)]="newPassword" />
  </nz-input-group>
  <ng-template #suffixTemplate>
    <i class="password-visible" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
  </ng-template>
</nz-modal>
