.login-box {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 600px;
}

.ant-form {
  min-width: 300px;
}

.video-info {
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: fill;
  top: 0;
}
