<div class="search-box">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <!--suppress HtmlFormInputWithoutLabel -->
    <input type="text" nz-input placeholder="键入学号或姓名进行模糊搜索" [(ngModel)]="searchKey" (keyup.enter)="onSearch()"/>
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="onSearch()"><i nz-icon nzType="search"></i></button>
  </ng-template>
</div>
<nz-table
  nzShowSizeChanger
  nzShowQuickJumper
  [nzData]="listOfStudentUser"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  [nzPageSizeOptions]="pageSizeOptions"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
  <tr>
    <th nzColumnKey="name" [nzSortFn]="true">姓名</th>
    <th nzColumnKey="studentId" [nzSortFn]="true">学号</th>
    <th nzColumnKey="sex" [nzSortFn]="true">性别</th>
    <th nzColumnKey="age" [nzSortFn]="true">年龄</th>
    <th nzColumnKey="birthday" [nzSortFn]="true">出生日期</th>
    <th nzColumnKey="apartment">公寓</th>
    <th nzColumnKey="roomNum">寝室</th>
    <th nzColumnKey="tel">电话</th>
    <th nzColumnKey="email">邮箱</th>
    <th nzColumnKey="operation">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfStudentUser">
    <td>{{ data.name }}</td>
    <td>{{ data.studentId }}</td>
    <td>{{ data.sex | sex}}</td>
    <td>{{ data.age }}</td>
    <td>{{ data.birthday | date:'yyyy年MM月dd日' }}</td>
    <td>{{ data.apartment.name }}</td>
    <td>{{ data.roomNum }}</td>
    <td>{{ data.tel }}</td>
    <td>{{ data.email }}</td>
    <td><a (click)="showDetail(data)">查看详情</a></td>
  </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isShowDetailModal"
          [nzFooter]="modalFooter"
          (nzOnCancel)="onModalCancel()"
          nzMaskClosable="false"
          nzTitle="查看详情">
  <ng-template #modalFooter>
    <button nz-popconfirm
            nzPopconfirmTitle="确定删除该学生？"
            (nzOnConfirm)="confirmDelStudent()"
            nz-button nzType="danger">删除该学生
    </button>
    <button nz-popconfirm
            nzPopconfirmTitle="确定重置该学生密码？"
            (nzOnConfirm)="confirmResetStudentPassword()"
            nz-button nzType="danger">重置该学生密码
    </button>
  </ng-template>
  <app-student-info *ngIf="isShowDetailModal" [data]="nowShowDetailStudentUser"></app-student-info>
</nz-modal>
